@import url("../css/components/container.css");
@import url("../css/components/banner.css");
@import url("../css/components/cards.css");
@import url("../css/components/card_recette.css");

body{
  background:#eaeaea;
  font-family: 'Playfair Display', serif;
  font-size:16px;
  text-align:center;
  font-weight:lighter;
  color: #00171F;
}

